In [1]:
import pandas as pd

In [2]:
url = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(url, sep = ',')

 - Resumo dos dados que estão no dataset .
  
   - cada linha representa um usuário que acessou o site.
   - colunas: representam 4 páginas difrentes :
      - home : página principal , onde as pessoass acessam inicialmente.
      - how_it_works : como o site funcina. 
      - contact : página para entra em contato.
      - bouht : se o uário comprou ou não um produto.

In [3]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

 -  Renomeando as colunas

In [4]:
mapa = { 
    "home" :"principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
        
}


dados = dados.rename(columns = mapa)

In [6]:
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

 - Separando os dados em X e Y.

In [7]:
x = dados.drop('comprou',  axis = 1)
y = dados['comprou']

 - Separando as amostras de treino e teste de forma simpificada .

In [12]:
#  Veriicando o tamanho  e dividindo propporcionalmente os dados em treino e teste
x.shape

(99, 3)

In [65]:
x_treino = x[:75]
y_treino = y[:75]
x_teste =  x[75:]
y_teste =  y[75:]

 - Aplicando o algoritmo de machine learning

In [66]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(x_treino,  y_treino)
y_pred = modelo.predict(x_teste)

acuracia = accuracy_score(y_teste, y_pred) *100
print('A acurácia foi %.2f%%' % acuracia)

A acurácia foi 95.83%

 ## Separando as amostras de treino e teste com sklearn e aplicando o algoritmo.

In [75]:


#  Random_state retira a aleatoriedade da separação dos dados de treino e de teste.
# garante que sempre será usada a mesma amostra de treino e de teste.

In [78]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20
x_treino, x_teste , y_treino, y_teste = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)
print( ' Treinamos com %d elementos e testamos com %d elementos' % (len(x_treino), len(x_teste)))

modelo = LinearSVC()
modelo.fit(x_treino, y_treino)
y_pred = modelo.predict(x_teste)

acuracia = accuracy_score(y_teste, y_pred) * 100
print('A acurácia foi %.2f%%' % acuracia)

 Treinamos com 74 elementos e testamos com 25 elementos
A acurácia foi 96.00%

 - Podemos observar  que as amostras de treino e teste estão mantendo a mesma proporção.

In [44]:
y_treino.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [43]:
y_teste.value_counts()

0    17
1     8
Name: comprou, dtype: int64